@font-face {
    font-family: 'Kaushan';
    src: url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
}

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(224, 240, 240);
}

header {
    height: 100px;
    background: rgba(214, 40, 40, 0.9);
    display: flex;
}

header h1 {
    margin: auto 50px;
    font-family: 'Kaushan', inherit;
    line-height: 1em;
    color: #f88214;
}

main {padding: 0 20px}
main h2 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
main h2 a {
    margin: 0 .3em;
    padding: .6em 1em;
    border-radius: 5px;
    color: inherit;
    text-decoration: none;
    background-color: rgba(165, 166, 243, 0.8);
    transition: all ease-in .4s;
}

main h2 a:hover {
    background-color: rgb(118, 120, 237);
}